*{margin: 0; padding: 0; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

body{background: #fefefe; height: 100%; width: 100%;}

header {width: 100%; float: left;}

header .menu-bar{display: none;}

header nav{
	background: #023859;
	z-index: 1000;
	max-width: 100%;
	width: 100%;
	float: left;
	

}



header nav ul{list-style: none; color: #000;}

header nav ul li{float: left; display: inline; position: relative; padding: 3% .5% .5% 1%; }

header nav ul li:hover{background: #000;}

header nav ul li a{color: #fff; text-decoration: none; padding: 0 3%;}

header nav ul li span{ color: #fff; padding: 0% 10%;}

